 {
      margin: 0;
      padding: 0;

  }

  body {
    background-image: url(img/img5.jpg);
      background-color: green;
      font-family: sans-serif;
       }
 
.content {
    grid-area: content;
}
.album2 {
    font-family: monospace;
    margin: 0auto;
    font-size: 3em;
    font-family: monospace;
    font-style: italic;
}
.sidebar{
    grid-area: sidebar;
    background-image: url(img/img15.jpg);
    justify-content: center;
}
.footer {
    grid-area: footer;
    background-image: url(img/img3.jpg);
    color: red;

}
.album {
    font-size: 75%;
    font-weight: 100%;
    padding-bottom: 20px;
}
.container {
    font-size: 1.5em;
    width: 100%;
    height: 100;
    height: 100vh;
    display: grid;
    grid-template-areas: "sidebar" "content" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 130px 800px 250px;
 
}
 
.content, .sidebar, .footer{
    padding: 1em;
}
 
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
 
nav li{
    list-style: blue;
    padding: 1em 0;
}
 
nav li a {
    color: gold;
    font-weight: 1500;
    opacity: 0.5;
    text-decoration: red;
    transition: 0.5s;
    font-size: 100px;
}
 
nav li a:hover {
    opacity: 1;
}
.hero {
    max-width: 90 px;
    margin: 0 auto;
    text-align: center;
}
 
.hero img {
    width: 200px;
}
 
.hero h1 {
    font-size: 2em;
    font-weight: 300;
    color: RED;
}
.hero p {
    font-weight: 300;
    line-height: 1.3em;
    color: seagreen;
    font-family: fantasy;
}
 
.action-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: #567bfb;
    padding: 0.5em 2em;
    border-radius: 60px;
    margin: 1em 0;
    transition: 0.3s;
}
 
footer ul {
max-width: 640px;
margin: 2em auto;
padding: 0;
text-align: center;
display: flex;
flex-direction: row;
 
}
 
footer ul li {
    list-style: none;
    align-self: flex-end;
}
 
footer ul li a{
    text-decoration: none;
    color: #c1c6ce;
}
 
footer ul li img {
    width: 30%;
}
 
footer p {
    font-size: 2.5em;
    color: blue;
}
 
@media (min-width: 1040px){
    .container {
        grid-template-areas:"sidebar content" "sidebar footer" ;
        grid-template-rows: 1fr auto ;
        grid-template-columns: 300px 1f;
    }
 
    nav ul{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .sidebar{
        background-image: url(img/img15.jpg);
        padding-top: 10em;
    }
    .hero{
        text-align: left;
        margin: 7em 0;
    }
    .hero img {
        width: 200px;
        float: right;
    }
    .hero h1{
        font-size: 5em;
    }
    .hero p{
        width: 60%;
    }
    footer ul {
        max-width: 900px;
        margin: 0 auto;
        padding: 3em 0;
    }
 
    footer ul li a img {
        width: 50%;
    }